{% extends "layout.html" %}

{% block title %}Add Lecture Attendance{% endblock %}

{% block container %}

<div class="container mt-4 text-white">
    <h2 class="text-center">Add lecture</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">mark attendance</button>
    </form>
    
    <div class="d-flex justify-content-center">
        <a href="{% url 'faculty_app:faculty_dashboard' %}" class="btn btn-primary">back</a>
    </div>
</div>

{% endblock %}