{% extends "layout.html" %}

{% block title %}Notification{% endblock %}

{% block container %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="card p-4 shadow-lg" style="width: 30rem;">
        <h1>Notification Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
        </form>
        
    </div>
    <a href="{% url 'admin_app:admin_dashboard' %}" class="btn btn-primary">back</a>

</div>
{% endblock %}
